<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CRFEntities" connectionString="metadata=res://*/EntityModel.CRFModel.csdl|res://*/EntityModel.CRFModel.ssdl|res://*/EntityModel.CRFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=CRF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CRFEntities" connectionString="metadata=res://*/EntityModel.StepCinemaModel.csdl|res://*/EntityModel.StepCinemaModel.ssdl|res://*/EntityModel.StepCinemaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GPVEBFC;initial catalog=TallentShow;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="StepCinemaEntities" connectionString="metadata=res://*/EntityModel.StepCinemaModel.csdl|res://*/EntityModel.StepCinemaModel.ssdl|res://*/EntityModel.StepCinemaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GPVEBFC;initial catalog=TallentShow;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="StepCinemaEntities" connectionString="metadata=res://*/EntityModel.StepCinemaModel.csdl|res://*/EntityModel.StepCinemaModel.ssdl|res://*/EntityModel.StepCinemaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GPVEBFC;initial catalog=CRFDatabaseNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>