<script type="text/html" id="templateforpage" data-tag="scr" data-vaid-values="sub,scr,reg,none">
    <div>
        This page is does not have a matching template. Please contact support
    </div>
</script>
