@model List<string>
@{
    Layout = "~/Views/Shared/_SessionLayout.cshtml";
    ViewBag.Title = "Users List";
}

<div>
    <h2 class="ac-table-h1">Users</h2>

    <div id="userstable">

    </div>
    <div id="addeditpopup">
        <div class="ac-popup">

        </div>
        <div class="ac-layer">

        </div>
    </div>
    <script type="text/html" id="addedit">

    </script>
    <script type="text/html" id="fulltable">
        <datatable tabledata="{{tabledata}}" editTitle="" editWidth="70px">
            {{#partial filterArea}}
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" value="{{filter.firstName}}" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" value="{{filter.lastName}}" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Active</label>
                                <select value="{{filter.active}}" class="form-control">
                                    <option value="">[Select]</option>
                                    <option value="Y">Active</option>
                                    <option value="N">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group text-left">
                            <label style="display:block">&nbsp;</label>
                            <button type="button" class="btn btn-default" on-click="[ 'onFilter', filter ]">Apply</button>
                            <a href="@Url.Action("AddEdit")" class="btn btn-default">Add New</a>
                        </div>
                    </div>
                </div>
            </form>
            {{/partial}}
            {{#partial editArea}}
            <div>
                <a href="{{ '@Url.Action("AddEdit")' + '/' + rowValue.userId }}" style="cursor:pointer;text-decoration:none;">&nbsp;<i class="text-primary glyphicon glyphicon-pencil"></i>&nbsp;</a>
            </div>
            {{/partial}}
            {{#partial listCaption}}
            <div style="padding-top:6px;">
                Users list
            </div>
            {{/partial}}
        </datatable>
    </script>

    @section scripts {
        @Html.Partial("~/Views/Shared/_DataTable.cshtml")
        <script type="text/javascript" src="~/Scripts/custom/users.list.js"></script>
    }
</div>