@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forgot Password";
    ViewBag.SectionClass = "ac-login-section";
}
<div class="ac-login-area">
    <h3>
        Forgot Password
    </h3>
    <div style="height:60px;">
        <div id="divemail">

        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-12">
                Enter the email id (login name) and the password reset mail will be sent to your id
            </div>
            <div class="col-xs-12">
                <form>
                    <div class="ac-form-cell">
                        <input id="idemail" type="text" class="form-control" />
                    </div>
                    <div class="ac-form-cell2">
                        <input id="btnemail" type="button" class="btn btn-primary btn-block" value="Send Mail" />
                    </div>
                </form>
            </div>
            <div class="col-xs-12">
                Click <a href="@Url.Action("Index")">here</a> to login again.
            </div>
        </div>
        <div style="height:60px;">

        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnemail").on("click", function () {
                $("#divemail").text("Please wait ... procesing ... ");
                $.ajax({
                    url: "SendPasswordMail",
                    type: "POST",
                    data: JSON.stringify({ "email": $("#idemail").val() }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (data) {
                    $("#divemail").text((data.success == 1) ? "Email sent" : "Request Processed");
                }).fail(function () {
                    $("#divemail").text("Done processing");
                });
            });
        });
    </script>
}