@{
    Layout = "~/Views/Shared/_SessionLayout.cshtml";
    ViewBag.Title = "Videos";
}
<h2>@ViewBag.Title</h2>
<video height="100%" width="50%" controls="controls">
    <source src="D:/Application/Tallent/Ilai_Sample.mp4" type="video/mp4" />
</video>